table {
	max-width: 90%;
	min-width: 70%;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	font-size: 80%;
	background-color: var(--BackgroundElements);
	padding: 0.313rem;
	border-radius: 0.625rem;
	font-family: Montserrat-Bold;
}

td, th{
	border-radius: 0.313rem;
}

tbody {
	font-size: 0.875rem;
}
	
tbody>tr>th,
tbody>tr>td {
	padding: 0.313rem;
	text-align: center;
}

tbody>tr>th {
	background-color: var(--Secundario);
}

tbody>tr>td {
	font-family: Montserrat-SemiBold;
	height: 1.875rem;
	background-color: #0E0E0E;
}

td>div {
	width: 6.875rem;
}


tbody i {
	font-size: 1.375rem;
	margin-left: 0.313rem;
	margin-right: 0.313rem;
}

tbody #imgContainer {
	border-radius: 6.25rem;
	width: 4.375rem;
	height: 4.375rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
	margin: auto;
}

tbody #imgContainer img {
	height: 4.375rem;
}

tbody #imgContainerSquare {
	border-radius: 0.313rem;
	width: 7.5rem;
	height: 4.375rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: grey;
	margin: auto;
}

tbody #imgContainerSquare img {
	height: 5rem;
	border-radius: 0.625rem;
}

table input[type="text"] {
	width: 80%;
	height: 1.875rem;
	font-size: 1.25rem;
	text-align: center;
	line-height: 1.875rem;
	resize: none;
}

.scrollTable{
	overflow: auto; 
}

.paginacion {
	display: flex;
	flex-direction: row;
	gap: 1.25rem;
	margin-top: 0.313rem;
	margin-bottom: 1.25rem;
	justify-content: center;
}

.plusButton {
    padding: 0.313rem;
    min-width: 5.625rem;
    height: 1.25rem;
    border-radius: 0.313rem;
    border: solid 0.2rem var(--HoverLinks);
  	color: white;
    border-color: var(--Links);
    background-color: var(--Links);
    font-family: Montserrat-Bold;
    text-align: center;
    line-height: 1.25rem;
    font-size: 1rem;
}

.plusButton:hover {
    border-color: var(--HoverLinks);
    background-color: var(--Links);
    color: white;
}




