<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
	<meta charset="utf-8">
	<title>Insomnia Games - FAQ</title>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
	<link rel="stylesheet" href="/css/faq.css">
</head>

<body>

	<div th:replace="fragments/menu"></div>
	
	<div id="section">
	
			
			<div id="content">
			<img src="/images/resources/cube.png"></img>
			<h1>Preguntas Frecuentes</h1>
			
			<div>
				<div>
					<h2>¿Quién es el Desarrollador de esta plataforma?</h2>
				</div>
				<p>El desarrollador de <a target="_blank" href="/index" title="Insomnia Games">INSOMNIA GAMES</a> es <a target="_blank" href="https://www.linkedin.com/in/martinlaviadabrun/" title="www.linkedin.com">Martín Laviada Brun,</a>
				que ha cursado sus estudios en <a target="_blank" href="https://alojaweb.educastur.es/web/cifplalaboral/portada" title="https://alojaweb.educastur.es">CIFP La Laboral</a> en Gijón durante el año 2020-2022.
				Si su aplicación te ha impresionado, puedes ponerte en contacto con él
				a través de <a target="_blank" href="https://www.linkedin.com/in/martinlaviadabrun/" title="www.linkedin.com">Linkedin</a> para ofrecerle empleo, café o pizza.</p> 
			</div>
				
			<div>
				<div>
					<h2>¿Cuál es la razón de ser de esta aplicación web?</h2>
				</div>
				<p><a target="_blank" href="/index" title="Insomnia Games">INSOMNIA GAMES</a> es un proyecto final realizado para el curso de 
				<a target="_blank" href="https://www.todofp.es/que-estudiar/loe/informatica-comunicaciones/des-aplicaciones-web.html" title="www.todofp.es">Desarrollo de Aplicaciones Web</a> 2020-2022
				en el centro de <a target="_blank" href="https://alojaweb.educastur.es/web/cifplalaboral/portada" title="https://alojaweb.educastur.es">CIFP La Laboral.</a>
				El objetivo de esta aplicación era crear una tienda de productos con un carrito y contenido dinámico almacenado en una base de datos.
				En todo momento hemos tenido total libertad respecto al tema, diseño y funcionalidad. Este proyecto ha sido creado con mucho amor y mucho, MUCHO café.</p>
			</div>
			
			<div>
				<div>
					<h2>La marca de Insomnia Games me ha encantado, ¿quién está detrás de este diseño?</h2>
				</div>
				<p>La persona responsable es <a target="_blank" href="https://www.linkedin.com/in/xenia-garcia-teijido/" title="www.linkedin.com">Xènia García,</a> gran diseñadora y de gusto exquisito.
				Al igual que con el desarrollador, te alentamos a ponerte en contacto con ella
				a través de <a target="_blank" href="https://www.linkedin.com/in/xenia-garcia-teijido/" title="www.linkedin.com">Linkedin</a> para ofrecerle empleo, churros o lasagna.</p>  
			</div>
			
			<div>
				<div>
					<h2>¿Puedo comprar realmente los productos ofrecidos en la plataforma?</h2>
				</div>
				<p>Lamentablemente eso no es posible, dado que se trata de un proyecto ficticio.
				De todas formas nuestro desarrollador siempre anda metido en algo
				y no descartamos que este proyecto algún día pueda ser real.</p>
			</div>
			
			<div>
				<div>
					<h2>Me gusta la programación, ¿por dónde debería empezar?</h2>
				</div>
				<p>Si te llama la atención el mundo de la programación, te recomendamos el Grado Superior de <a target="_blank" href="https://www.todofp.es/que-estudiar/loe/informatica-comunicaciones/des-aplicaciones-web.html" title="www.todofp.es">Desarrollo de Aplicaciones Web.</a>
				Si vives en Asturias y cerquita de Gijón, te recomendamos el centro <a target="_blank" href="https://alojaweb.educastur.es/web/cifplalaboral/portada" title="https://alojaweb.educastur.es">CIFP La Laboral</a> para cursar dichos estudios.
				En caso de que no residas cerca de Gijón siempre puedes consultar otros centros <a target="_blank" title="www.educacion.gob.es" href="https://www.educacion.gob.es/centros/buscar.do?shortcut=1&codaut=00&codprov=00&ssel_natur=0&comboniv=141&combofam=120120&textofamilia=INFORM%C1TICA%20Y%20COMUNICACIONES&comboens=12212003&textoensenanza=Desarrollo%20de%20Aplicaciones%20Web">aquí.</a>
				Por si aún tienes dudas, este mismo año se ha creado una iniciativa para que los alumnos de <a target="_blank" href="https://www.todofp.es/que-estudiar/loe/informatica-comunicaciones/des-aplicaciones-web.html" title="www.todofp.es">DAW</a> comenten su experiencia
				y hablen un poquito de lo qué trata el curso. Puedes acceder desde este mismo <a target="_blank" href="https://view.genial.ly/62821e199024070018330a27/guide-opiniones-del-alumnado" title="https://view.genial.ly">enlace.</a></p> 
			</div>
			
			
			<div>
				<div>
					<h2>¿Existe algún 'Easter Egg' en esta plataforma?</h2>
				</div>
				<p>La plataforma cuenta con numerosas referencias a videojuegos,
				tanto en los mensajes de error como en los pasos de compra.</p>
			</div>
			
			
			</div>
		
	</div>
	
	<script src="/scripts/index.js"></script>
</body>
</html>