<!DOCTYPE html>
<html xmlns:th = "www.thymeleaf.com">
<head>
	<meta charset="UTF-8">
	<title>Insomnia Games - Registro</title>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}"/>
	<link rel="stylesheet" href="/css/formUser.css">
</head>

<body>

	<div th:replace="fragments/menu"></div>
	
	<div id="section">
	
		<div id="content">
		
			
			<p id="error" th:text="${mensaje}"></p>
			<p id="error2"></p>
			
			<form method="POST" th:action="@{anonimousPersistir}" th:object="${usuario}" enctype="multipart/form-data">
			
				<div>
					<div id="imgContainer">
						<label for="file"><img th:src="@{${'/images/userAvatars/'+usuario.avatar}}" th:alt="${usuario.nick}"></label>
					</div>
					<input type="file" name="imagen" id="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*">
					<div class="center">
						<label for="nick">Nombre de Usuario</label> 
						<input type="text" name="nick" th:field="*{nick}" required/>
					</div>
				</div>
				<div>
					<div>
						<label for="pass">Contraseña</label> 
						<input type="password" name="pass" th:field="*{password}" required/> 
					</div>
					<div>
						<label for="pass">Repetir Contraseña</label> 
						<input type="password" name="pass" id="password2" required/>
					</div> 
				</div>
				
				<div>
					<div>
						<label for="nombre">Nombre</label> 
						<input type="text" name="nombre" th:field="*{nombre}" required/> 
					</div>
					<div>
						<label for="apellidos">Apellidos</label> 
						<input type="text" name="apellidos" th:field="*{apellidos}" required/>
					</div> 
				</div>
				
				<div>
					<div>
						<label for="tlf">Móvil</label> 
						<input type="tel" name="tlf" th:field="*{tlf}" required/>
					</div>
					<div> 
						<label for="email">Email</label> 
						<input type="text" name="email" th:field="*{email}" required/>
					</div>	 
				</div>
				
				<input type="submit" value="Registrar"/>
				
			</form>
			
		</div>
		
	</div>
	
	<script src="/scripts/index.js"></script>
	<script src="/scripts/imagesForm.js"></script>
	<script src="/scripts/formCheckAddUsers.js"></script>
</body>
</html>